[dev.icinga.com #11126] Invalid cookie value in cookie icingaweb2-tzo

This issue has been migrated from Redmine: https://dev.icinga.com/issues/11126

**Created by henkwiedig on 2016-02-09 16:19:28 +00:00**

Assignee: _(none)_
Status: _Resolved_  (closed on _2016-02-25 12:25:04 +00:00_)
Target Version: _2.2.0_
Last Update: _2016-02-25 12:25:04 +00:00 (in Redmine)_

---

Icingaweb2 generates an invalid cookie value.
For example:

Cookie: icingaweb2-session=1455034035; Icingaweb2=f5krvchq8398bmfaa5dmctkau4ndu8km; icingaweb2-tzo=3600,0

A comma is not an allowed character according to RFC 6265 Section 4.1.1.

cookie-octet = %x21 / %x23-2B / %x2D-3A / %x3C-5B / %x5D-7E
; US-ASCII characters excluding CTLs,
; whitespace DQUOTE, comma, semicolon,
; and backslash


**Changesets**

_2016-02-25 12:21:34 +00:00_ by _aklimov_ af18334e3e8725743756f6973988d1422460d0ec

    Cookie icingaweb2-tzo: use `-' as separator
    
    fixes #11126

